

#############################################################
#----------------- Python Language -------------------------#
#############################################################


# Python virtual environments 
/.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints




#############################################################
#--------------------- C Language --------------------------#
#############################################################


# C build artifacts
*.o
*.out
*.exe
*.obj
*.elf
*.a
*.so
*.dll




#############################################################
#------------------------- Misc ----------------------------#
#############################################################


# Environments
.env
